VisualElement {
}

.toolbar-button {
    width: 80px;
    height: 50px;
    background-color: rgb(85, 85, 85);
    padding-left: 0;
    padding-right: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.text-light {
    color: rgb(238, 238, 238);
}

.unity-base-text-field__input {
    color: rgb(0, 0, 0);
}

.truck-input {
}

.truck-input .unity-base-field__label {
    min-width: auto;
    width: auto;
}
